* {
    background-color: rgb(226, 216, 203);
}

body {
    overflow: hidden;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.scroll-container {
    height : 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section img {
    width : 70%;
    height: 700px;
}

section {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin : 130px 30px;
    height: 100vh;
    width: 100%;
    border: 2px solid red;
    scroll-snap-align: start;
}

section p {
    align-self: center;
}