.container {
  font-size: 2rem;
}

.topLine {
  background-color: skyblue;
  text-align: center;
}

.navbar ul {
  display: flex;
  gap: 2%;
  justify-content: space-between;
  padding: 1%;
  margin-bottom: 5%;
  background-color: greenyellow;
}

.navbar ul li {
  list-style-type: none;
}
