* {
  margin: 0;
  box-sizing: content-box;
  background-color: lightgray;
  color: black;
  font-family: sans-serif;
}

.social-media {
  background-color: blueviolet;
  margin-top: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-social-media-right,
.header-social-media-left {
  display: flex;
  gap: 25%;
  text-wrap: nowrap;
}

.header-social-media-right select {
  border: none;
  height: 45px;
}

.main-header {
  height: 15%;
  margin-top: 1px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-evenly;
}

.menu {
  display: flex;
  gap: 12%;
  text-wrap: nowrap;
}

.main-header-right {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.icon {
  height: 35px;
}

.logo {
  font-weight: bolder;
}

.main-header button {
  border: none;
  background-color: rgba(0, 255, 255, 0.244);
}

.section-1 {
  background-image: url("./img/boy-studying.jpg");
  min-height: 30vh;
  background-size: cover;
  color: aliceblue;
  align-content: center;
  text-align: right;
  font-size: 225%;
}

.section-1 .section-1-text {
  background-color: rgba(0, 0, 0, 0);
  color: aliceblue;
}

.section-2 {
  padding: 5%;
}

.section-2-title {
  text-align: center;
  margin-bottom: 2%;
}

.section-2-title p {
  color: green;
}

.section-2-title h3 {
  font-size: 2rem;
}
.section-2-cards {
  display: flex;
  justify-content: space-around;
}

.section-2-each-card {
  border: 2px solid black;
  margin-left: 1%;
  margin-right: 1%;
  justify-items: center;
}

/* for pc */
@media (min-width: 768px) {
  * {
    font-size: 30px;
  }
  .header-social-media {
    display: flex;
    justify-content: space-evenly;
  }
  .burger {
    display: none;
  }
  .header-social-media-mobile {
    display: none;
  }
  .header-group {
    display: none;
  }
  .social-media {
    margin-bottom: 2px solid black;
    height: 5%;
    background-color: aliceblue;
  }
  .section-1 {
    min-height: 88vh;
  }
  .section-1 .section-1-text {
    font-size: 44px;
  }
}

/* For Tab */
@media (min-width: 481px) and (max-width: 767px) {
  * {
    font-size: 20px;
  }
  .header-social-media {
    display: flex;
    justify-content: space-evenly;
  }
  .burger {
    display: none;
  }
  .header-social-media-mobile {
    display: none;
  }
  .header-group {
    display: none;
  }
  .social-media {
    margin-bottom: 2px solid black;
    height: 5%;
    background-color: aliceblue;
  }
  .section-1 .section-1-text {
    font-size: 33px;
  }
}

/* For mobile devices (max-width: 599px) */
@media (max-width: 480px) {
  * {
    font-size: 15px;
  }
  .header-social-media {
    display: none;
  }
  .burger {
    height: 3px;
    border: 2px solid whitesmoke;
    width: 30px;
    background-color: black;
    margin-top: 4px;
    justify-items: end;
  }
  .header-group {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
  }

  .header-group button {
    border: none;
  }
  .social-media {
    margin-bottom: 2px solid black;
    height: 5%;
    background-color: aliceblue;
  }

  .facebook-icon {
    display: none;
  }

  .main-header {
    display: none;
  }

  .menu-mobile li {
    list-style: none;
  }

  .header-social-media-right-mobile button {
    background-color: rgba(0, 255, 255, 0.345);
  }

  .section-1 {
    min-height: 20vh;
  }
  .section-1 .section-1-text {
    font-size: 22px;
  }
}
