* {
    background-color: rgba(20, 20, 20, 0.1);
}

img {
    width : 300px;
    height: 300px;
    display: block;
    margin : 30px 30px;
    place-self: center;
    background-color: transparent;
}

.buttons {
    display : flex;
    justify-content : space-between
}